        <footer class="d-flex flex-wrap justify-content-center align-items-center p-md-3 p-2 mt-4">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="images/list-task.svg" alt="calendar check" 
                     class="bi me-2 mb-0 text-decoration-none lh-1" width="20">
                <span class="mb-0">© <%=new Date().getFullYear()%> Volodymyr Savchuk</span>
            </div>
        </footer>
    </body>
</html>